<mat-toolbar class="top-bar">
  <mat-toolbar-row>
   <button mat-icon-button (click)="onClickMenu()">
     <mat-icon>menu</mat-icon>
   </button>

    <span>MUT Project</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <!--petit test-->
        <!--petit test-->
        <!--petit test-->
        <!--petit test-->
        <!--petit test-->
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <!--<div *ngIf="isUserLogged">-->
              <mat-icon *ngIf="isUserLogged" color="primary">person_outline</mat-icon>
              <!--<p color="primary" style="padding: 0">{{ userEmail }}</p>-->
            <!--</div>-->
            <mat-icon *ngIf="!isUserLogged" color="secondary">person_outline</mat-icon>

          </button>
          <!--<p class="has-text-white" style="padding: 5px">Umut Akgul</p>-->
          <mat-menu #menu="matMenu">
            <!--<button mat-menu-item (click)="onClickLogin()">-->
              <!--<mat-icon>login</mat-icon>-->
              <!--Log In-->
            <!--</button>-->
            <app-login (isLogged)="onLog($event)" *ngIf="!isUserLogged"></app-login>
            <button mat-menu-item (click)="onClickLogOut()" *ngIf="isUserLogged">
              <mat-icon>exit_to_app</mat-icon>
              Sign Out
            </button>

          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
