<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        {{ title }}
      </h1>
      <h2 class="subtitle has-text-centered">
        {{ subtitle }}
      </h2>
      <mat-divider></mat-divider>
      <br>
      <p>{{ Text1 }}</p>
      <br>
      <p>{{ Text2 }}</p>
      <p>{{ Text3 }}</p>

      <mat-divider></mat-divider>
      <br>
      <div class="columns is-mobile">

        <div class="column is-4">
          <button (click)="scrollToElement()" class="button is-dark has-text-white" >See more</button>
        </div>
        <div class="column is-2 is-offset-6">
          <button class="button is-light " routerLink="/">Go back to Home</button>
        </div>
      </div>
    </div>
  </div>
</section>
