
<!--INTRO-->
<section class=" intro-section hero is-medium has-text-centered is-white">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-spaced is-bold  is-size-2-desktop is-size-4-mobile big-title">Hello, My name is Umut Akgul</h1>
          <h1 class="title is-spaced is-bold  is-size-2-desktop is-size-4-mobile">Fullstack developer, designer &amp; young creator</h1>
          <h2 class="subtitle is-size-4-desktop">I love to code and create things. Both simple and complex.</h2>
        </div>
      </div>
      <igx-avatar src="https://randomuser.me/api/portraits/men/1.jpg"
                  [roundShape]="true"
                  size="large">
      </igx-avatar>
    </div>
  </div>
</section>

<svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
  <path d="M0 0 L50 100 L100 0 Z" />
</svg>

 <!--ABOUT SECTION-->
<section class="about-section hero is-medium is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title">
            About me
          </h1>
         <p>
           A fond of web development since 6 years, I've done remote work for agencies as freelance, been a simple web developper, project manager and technical leader. In this particular order.
           I'm quietly confident, naturally curious, and perpetually working on improving my skills one project at a time.
         </p>
          <p>
           I currently am working for my self. But you can see my previous work history on <a href="https://www.linkedin.com/in/uakgul/">Linkedin</a> Outside of work I have a calm life and a very energic cat.
            I am also working on different Gaming project, as Arcade Machine creation and customization or Board Games. Currently I am accepting freelance work, so don't think twice and send me a mail.
          </p>
          <mat-divider></mat-divider>
          <br>
          <br>



          <a href="#">Resume here</a>
        </div>
        <div class="column">
          <h1 class="title">
            Skills
          </h1>
          <h3>Front End</h3>
          <p>Front End development with Angular Framework. I've started with version 4,
            and migrated through versions. Now I am an adept of version 10.
            And I love to work with Typescript</p>
          <p>I also code in HTML, CSS, JavaScript ES6, PHP and Python</p>

          <h3>Back End</h3>
          <p>Back End development accordingly with Node.js. I've started 4 years ago with Express JS and now have understood and mestered many aspect of an REST API</p>
          <p>I also code in JAVA, PHP and Python</p>

          <h3>Data Base Administration</h3>
          <p>Queries, Procedures, Automation, I love SQL Requests and results. Such a great language and various possibilities. I've started with MySQL, and then used PostgreSQL for 5 years and even tried NoSQL with Firestore</p>
        </div>
      </div>
    </div>
  </div>
</section>

<svg id="bigTriangleColor2" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
  <path d="M0 0 L50 100 L100 0 Z" />
</svg>

<!--PROJECT SECTION-->
<section class="project-section hero is-light has-text-centered is-bold">
  <div class="hero-body">
    <div class="container is-narrow">
      <h1 class="title is-spaced  is-size-2-desktop is-size-4-mobile">My Recent Work</h1>
      <h2 class="subtitle is-size-5-desktop">Some projects I've worked on. Want to see more? <a href="#">Email me</a>.</h2>
      <div class="grid-project">

        <div class="columns is-multiline is-mobile">

          <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
            <figure class="effect-oscar">
              <img src="https://static.pexels.com/photos/3658/street-car-power-fast-large.jpg" alt="img09"/>
              <figcaption>
                <!--<h2>Warm <span>Oscar</span></h2>-->
                <h3>Dash<span>board</span></h3>
                <p>Graphics and charts, always more efficient to have a visual</p>
                <a routerLink="/dashboard" >View more</a>
              </figcaption>
            </figure>
          </div>

          <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
            <figure class="effect-marley">
              <img src="https://pixabay.com/static/uploads/photo/2016/02/28/12/53/child-1226954_960_720.jpg" alt="img12"/>
              <figcaption>
                <h3>Tic <span>Tac</span> Toe</h3>
                <p>Why so serious ? Come and play with a friend</p>
                <a routerLink="/tictactoe">View more</a>
              </figcaption>
            </figure>
          </div>

          <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
            <figure class="effect-romeo">
              <img src="https://pixabay.com/static/uploads/photo/2016/01/19/18/13/baby-1150109_960_720.jpg" alt="img18"/>
              <figcaption>
                <h3>Task <span>Manager</span></h3>
                <p>We all need to organize our life into tasks</p>
                <a routerLink="/tm/lists">View more</a>
              </figcaption>
            </figure>
          </div>

          <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
            <figure class="effect-bubba">
              <img src="https://static.pexels.com/photos/28080/pexels-photo-large.jpg" alt="img02"/>
              <figcaption>
                <h3>My <span>Budget</span> </h3>
                <p>No more questionning myself again about monthly budget</p>
                <a routerLink="/budget">View more</a>
              </figcaption>
            </figure>
          </div>

          <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
            <figure class="effect-dexter">
              <img src="https://pixabay.com/static/uploads/photo/2016/01/13/22/46/orphan-1139042_960_720.jpg" alt="img19"/>
              <figcaption>
                <h3> <span>Covid</span> Tracker </h3>
                <p>Because it's important to see the statistics</p>
                <a routerLink="/covid19">View more</a>
              </figcaption>
            </figure>
          </div>

          <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
            <figure class="effect-chico">
              <img src="https://pixabay.com/static/uploads/photo/2015/10/22/17/32/smoke-1001664_960_720.png" alt="img04"/>
              <figcaption>
                <h3>Kan<span>Ban</span></h3>
                <p>Classification and organization. Make one goal become true</p>
                <a routerLink="/kanban">View more</a>
              </figcaption>
            </figure>
          </div>

        </div>
      </div>
      <div class="columns is-centered">
        <div class="column"><a class="button is-secondary is-outlined is-rounded is-medium" href="https://github.com/PixelMut"><span class="icon"><i class="fab fa-github"></i></span><span>See more on Github</span></a></div>
      </div>
    </div>
  </div>

</section>

<!--CONTACT-->
<section class="hero is-primary is-medium is-bold has-text-centered">
  <div class="hero-body">
    <div class="container  ">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-spaced is-bold  is-size-2-desktop is-size-4-mobile is-centered">
            Contact me
          </h1>
          <h2 class="subtitle is-size-4-desktop is-centered">
            or ask me any question
          </h2>
        </div>
      </div>

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">From</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input form-control" formControlName="name" type="text" placeholder="Name">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input is-normal form-control" formControlName="email" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
                <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field is-expanded">
              <div class="field has-addons">
                <p class="control">
                  <!--<a class="button is-static">-->
                  <!--+44-->
                  <!--</a>-->
                </p>
                <p class="control is-expanded">
                  <input class="input form-control" formControlName="phone" type="tel" placeholder="Your phone number">
                </p>
              </div>
              <!--<p class="help">Do not enter the first zero</p>-->
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Subject</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input is-normal form-control" formControlName="subject" type="text" placeholder="e.g. Partnership opportunity">
              </div>
              <!--<p class="help is-danger">-->
              <!--This field is required-->
              <!--</p>-->
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Question</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea class="textarea form-control" formControlName="textarea" placeholder="Explain how I can help you"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button [disabled]="!contactForm.valid" type="submit" class="button">
                  Send message
                </button>
              </div>
            </div>
          </div>
        </div>

      </form>




    </div>
  </div>
</section>



