@import '../../../../main-styles';

.main-container{
    justify-content: center;
    text-align: center;

  .current-player{

  }

  .action-button{

    .new-game{
      background-color : $green;
      margin: 8px;
    }

    .reset-game{
      background-color: $red;
      margin: 8px;
    }


    //color :black

  }

  .game-board{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    .left, .right{
      flex-grow: 1;

      //mat-icon{
      //  font-size: 50px
      //}

      p{
        font-size : 18px;
      }
    }

    .center{
      flex-grow: 1;
      display: grid;
      grid-template-columns: 100px 100px 100px;
      //grid-template-rows: 100px 100px 100px;
      grid-gap: 0px;

      justify-content: center;
      padding: 20px;

      app-square{
        border : 1px grey solid;
        height: 100px;
        font-size: 40px;
      }
    }

    //.right{
    //  flex-grow: 1;
    //}

  }
}



